/* CSS file placeholder. */

table{ 
	border-style: solid;
}

td{
	vertical-align: top
}

.gridDataTab{
  border-collapse: collapse;
}

.gridDataTab td{
  border: solid 1px;
}

.gridMeta{
  background-color: #068A98;
  transition: 1s;
}

.lineCol{
  background-color: grey;
}

.searchResult{
  background-color: yellow;
}

#newRequestData{
	width:80%;
	height:350px;
	background-color:white;
}

body{
	/*background: linear-gradient(90deg, #a9e4f7 0%,#0fb4e7 50%, #c2edce 50%,#0ec959 100%);*/
	/*background: linear-gradient(to right, rgba(47,232,18,1) 0%,rgba(137,221,181,1) 50%,rgba(25,219,229,1) 100%);*/
	/*background:  linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(147,147,147,1) 50%,rgba(255,255,255,1) 100%);*/
	background: linear-gradient(to right, rgba(213,192,219,1) 0%,rgba(255,239,251,1) 45%,rgba(244,255,254,1) 55%,rgba(199,237,234,1) 100%);
	background-size: 200%;
	background-position: 100%;
	transition: background-position 1s;
}

#title{
	color: #50AFB9;    
	background-color: rgba(94, 210, 236, 0.35);
	transition: 1s;
}

#requestContent{
	float: left;
}

#objectContent{
	float: left;
}

#requestContent table{
	border-image: linear-gradient(90deg, rgb(200, 100, 200),rgb(255, 200, 255)) 1 1 100%;
	background-color: rgba(200,100,200,.2)
}
#objectContent table{
	border-image: linear-gradient(90deg, rgb(100, 200, 200),rgb(200, 255, 255)) 1 1 100%;
	background-color: rgba(100,200,200,.2);
}

button{
	background-image: linear-gradient(to bottom, rgba(106, 241, 255, 0.45), rgba(75, 199, 148, 0.58));
    border: none;
}

#objectXML{
	display:none;
}

#requestXML{
	display:none;
}

.cellstyleTab{
	width: 0%;
	height: 0px;
	overflow: hidden;
	transition: 1s;
}

.cellstyleHeader:hover + .cellstyleTab{
	width: 100%;
	height: 150px;
	overflow: scroll;
}

.cellstyleTab:hover{
	width: 100%;
	height: 150px;
	overflow: scroll;
}